<section class="section fp-auto-height bg-white" id="ourBrands">

<div class="container">
  <h1>{{ page.headline }}</h1>

  <div class="row">
  {% assign new_children_array = page.children | sort: 'published_at' %}
  {% for child in new_children_array %}
    <div class="col-sm-3" style="margin-bottom: 20px;">
      {% assign first = child.features | first %}
      {% assign second = child.features[1] %}
        <a href="#" class="strip">
        <img src="img-responsive" src="{{ first.image_url }}" style="width: 100%;">    
        <div class="overlay">
          <span class="btn-slider btn-popup-{{ child.id }}">  
            {% if child.children.size > 0%}
            Learn More
            {% else %}
            Coming Soon
            {% endif %}
          </span>
        </div>
        </a>
    </div>
  {% endfor %}
  </div>
</div>

</section>
        
{% for child in page.children %}
  {% if child.children.size > 0%}
    <div class="sliderPop sliderBrand-{{ child.id }}" style="display:none;">
      <div class="ct-sliderPop-container container-{{ child.id }}">
      {% for descendant in child.children  %}
          <div class="ct-sliderPop ct-sliderPop-slide1 open">
            <div class="inner">
              <h1 style="margin-bottom: 20px; font-weight: bold; color: #00CE7C; text-align: center;">{{ child.headline }}</h1>

              <div class="container caption">

              {% for feature in descendant.features limit: 1 %}
              <img src="{{ feature.image_url }}" alt="" class="img-responsive">
              {% endfor %}

              {{ descendant.basic.content }}
              </div>
              <a class="ct-newsletter-close ct-sliderPop-close close-{{ child.id }}" href="#">
              <img alt="close" src="https://www.solodev.com/assets/popup-slider/popup-close.png" class="close"></a>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>

    <script>
    $(document).ready(function() {
      $(".btn-popup-{{ child.id }}").on('click', function() {
        $('.sliderPop.sliderBrand-{{ child.id }}').show();
        $('.sliderPop.sliderBrand-{{ child.id }} .ct-sliderPop-container').addClass('open');
        $('.sliderPop.sliderBrand-{{ child.id }}').addClass('flexslider');
        $('.sliderPop.sliderBrand-{{ child.id }} .ct-sliderPop-container').addClass('slides');

        $(".sliderBrand-{{ child.id }}").flexslider({
          selector: '.container-{{ child.id }} > .ct-sliderPop',
          slideshow: false,
          controlNav: false,
          prevText: "",
          nextText: "",
          controlsContainer: '.container-{{ child.id }}'
          });
        });

      $('.close-{{ child.id }}').on('click', function() {
        $('.sliderPop.sliderBrand-{{ child.id }}').hide();
        $('.sliderPop.sliderBrand-{{ child.id }} .ct-sliderPop-container').removeClass('open');
        $('.sliderPop.sliderBrand-{{ child.id }}').removeClass('flexslider');
        $('.sliderPop.sliderBrand-{{ child.id }} .ct-sliderPop-container').removeClass('slides');
      });
    });
    </script>
    {% endif %}
  {% endfor %}

