<div id="fullpage">
  <section class="section" style="background: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}'); background-size: cover; background-position: center;" id="section1">
    <img src="https://d3n8a8pro7vhmx.cloudfront.net/themes/5a9778fb5ee54dbc96000000/attachments/original/1534375919/tagline-edit.png?1534375919" alt="" class="tagline">
    {% for child in page.children %}
    {% if child.slug == 'video_toggle' %}
    <button class="js-modal-btn float" data-video-id={{ child.excerpt }} >Watch Our Video <i class="fa fa-play-circle" aria-hidden="true"></i></button>
    {% endif %}
    {% endfor %}
  </section>

  
  {% subpage "our_positioning" with "our_positioning" %}

  {% subpage "our_approach" with "our_approach" %}

  {% subpage "our_facilities" with "our_facilities" %}

  {% for child in page.children %}
  {% if child.slug == 'brand_popup' %}
  {% subpage "brand_popup" with "brand_popup" %}
  {% endif %}
  {% endfor %}

  {% subpage "our_technologies" with "our_technologies" %}

  {% for child in page.children %}
  {% if child.slug == 'shop_announcement' %}
  {% subpage "shop_announcement" with "shop_announcement" %}
  {% endif %}
  {% endfor %}

  {% subpage "newsletter" with "newsletter" %}
  
</div>