<div id="fullpage">
  <section class="section home-banner" style="background: url('{% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %}'); background-size: cover; background-position: center;" id="section1">


    <img src="https://assets.nationbuilder.com/360blockchain/pages/195/attachments/original/1550612326/just-pot.png?1550612326" alt="" class="tagline">

    {% for child in page.children %}
    {% if child.slug == 'video_toggle' %}
    <button class="js-modal-btn float" data-video-id={{ child.excerpt }} >Watch Our Video <i class="fa fa-play-circle" aria-hidden="true"></i></button>
    {% endif %}
    {% endfor %}
  </section>

 <section>
  <div class="container-fluid no-padding" id="aboutUs">
    <div class="row no-pad">
      {% assign new_children_array = page.children | sort: 'published_at' %}
      {% for child in new_children_array %}

      {% if child.slug == 'our_vision' %}
      <div class="col-sm-6 no-padding">
        <div class="content-container bg-green">
          <div class="content wow fadeIn">
            <h1>{{ child.headline }}</h1>
            {{ child.basic.content }}
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="content-image" style="{% if child.features.size > 0 %}{% for feature in child.features limit: 1 %}background-image: url({{ feature.image_url }});{% endfor %}{% endif %};">
        </div>
      </div>
      {% endif %}
      {% if child.slug == 'our_positioning' %}
      <div class="col-sm-6 no-padding">
        <div class="content-image" style="{% if child.features.size > 0 %}{% for feature in child.features limit: 1 %}background-image: url({{ feature.image_url }});{% endfor %}{% endif %};">
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="content-container bg-dark">
          <div class="content wow fadeIn">
            <h1>{{ child.headline }}</h1>
            {{ child.basic.content }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if child.slug == 'our_approach' %}
      <div class="col-sm-6 no-padding">
        <div class="content-container bg-green">
          <div class="content wow fadeIn">
            <h1>{{ child.headline }}</h1>
            {{ child.basic.content }}
          </div>
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div class="content-image" style="{% if child.features.size > 0 %}{% for feature in child.features limit: 1 %}background-image: url({{ feature.image_url }});{% endfor %}{% endif %};">
        </div>
      </div>
      {% endif %}

    {% endfor %}
    </div>
  </div>
</section>

  {% comment%}
  {% subpage "our_positioning" with "our_positioning" %}
  {% endcomment %}

  {% comment%}
  {% subpage "our_approach" with "our_approach" %}
  {% endcomment %}

  {% comment%}
  {% subpage "our_facilities" with "our_facilities" %}
  {% endcomment %}


  {% for child in page.children %}
  {% if child.slug == 'brand_popup' %}
  {% subpage "brand_popup" with "brand_popup" %}
  {% endif %}
  {% endfor %}

  {% comment%}
  {% subpage "our_technologies" with "our_technologies" %}
  {% endcomment %}

  {% for child in page.children %}
  {% if child.slug == 'shop_announcement' %}
  {% subpage "shop_announcement" with "shop_announcement" %}
  {% endif %}
  {% endfor %}

  {% subpage "newsletter" with "newsletter" %}

</div>
