<section class="splash-header" style="{% if page.features.size > 0 %}{% for feature in page.features limit: 1 %}background-image: url({{ feature.image_url }}); background-size: cover;{% endfor %} {% endif %} {% if page.features.size == 0 %} background-image: url(https://d3n8a8pro7vhmx.cloudfront.net/themes/5aa1dc39ed0e46a369000000/attachments/original/1521687823/minerals.jpg?1521687823); background-size: cover; {% endif %}">
  <div class='overlay'></div>
  <h1 class="text-center">
    {{ page.headline }}
  </h1>
</section>

<section class="page-body">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				{% for child in page.children %}
					<h2>{{ child.headline }}
						<small>
							{{ child.excerpt }}
						</small>
					</h2>
					<hr>
					<div class="bio">
						{{ child.basic.content }}
					</div>
				{% endfor %}					
			</div>
		</div>
	</div>
</section>

{% subpage "newsletter_sign_up" with "newsletter" %}

