{% if page.level > 0 %}
{% assign home = page.parent %}
{% else %}
{% assign home = page %}
{% endif %}

{% if page.has_parent? %}

<div class="breadcrumb-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  {% for ancestor in page.ancestors %}
				  {% if ancestor.is_homepage? == false %}
				  <li><a href="{{ ancestor.url }}">{{ ancestor.name }}</a></li>
				  {% endif %}
				  {% endfor %}
				  <li class="active">{{ page.name }}</li>
				</ol>				
			</div>
		</div>
	</div>
</div>


{% endif %}
