body {
  font-family: 'Roboto', sans-serif;
}

.header-image-container {
  margin-top: 100px;
  max-width: 360px;
  text-align: center;
}

.page-header-container {
  width: 100%;
  img {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
  }
}

.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(blue,lightblue);

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 18px;
  text-transform: uppercase;

  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  .far {
    margin-right: 5px;
  }
}


.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glass:hover{
  color: #fff;
  text-decoration: none;
}
