.newsletter {
  .content-container {
    h2 {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  form {
    margin-top: 60px;
  }
  .form-control {
    min-height: 46px;
    border: 0;
  }
  .btn {
    min-height: 46px;
    border: 0;    
    letter-spacing: 1px;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
  }
}