

.callout-text {
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 0.65rem;
  margin: 0;
}
.callout-subtext {
  font-size: 2rem;
}

.wknd-splash {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.05);
  }
  .wknd-slide {
    height: 100vh;
    width: 100%;
  }
  .wknd-logo-small {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    img {
      width: 140px;
    }
  }
  .wknd-logo-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    z-index: 10;
    img {
      max-width: 600px;
    }
    .tagline {
      font-family: 'Gill Sans';
      font-size: 3.125rem;
      margin-bottom: 1rem;
      letter-spacing: 0.875rem;
      color: $bluesky;
      margin-bottom: 6rem;
      font-weight: 500;
    }
  }
  .tagline {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
    text-transform: uppercase;
    font-family: 'Gill Sans';
    font-size: 3.125rem;
    margin-bottom: 1rem;
    letter-spacing: 0.875rem;
    color: $bluesky;
    font-weight: 500;
  }
  .stock-symbol {
    color: $bluesky;
    font-family: 'Gill Sans';
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
    letter-spacing: 0.375rem;
  }
  .social-media-icons {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    z-index: 10;
    .fa-stack {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 1rem;
    }
    .fa-circle {
      opacity: 0.75;
    }
    a {
      color: #222;
    }
  }
}
.wknd-splash-variant {
  padding: 8rem;
  width: 100%;
  color: #fff;
  .callout-text {
    margin-bottom: 3.5rem;
    span {
      position: relative;
      z-index: 1;
      &:before {
        border-top: 2rem solid $bluesky;
        content: "";
        margin: 0;
        position: absolute;
        top: 0.65rem;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
      }
    }
  }
  .callout-subtext {
    max-width: 800px;
    margin-bottom: 4rem;
  }
  .learn-more {
    font-family: 'Gill Sans';
    color: #fff;
    font-size: 1.375rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.follow-wknd {
  padding: 6rem 0;
  .follow-text {
    font-family: 'Gill Sans';
    font-size: 2.375rem;
    margin-bottom: 1rem;
  }
}

.after-the-fold {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.brandImage {
  height: 385px;
  width: 100%;
}
.ourBrandImage {
  height: 315px;
  width: 100%;
}

.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.m-0 {
  margin: 0;
}

.m-2 {
  margin: 2rem;
}
.brands-container {
  border-top: 1px solid  lighten($cement, 25%);
  .brands-header-container {
    position: relative;
    text-align: right;
    .brands-header {
      font-size: 38px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      span {
        display: block;
        font-weight: normal;
        margin-bottom: 0.5rem;
      }
    }
  }
}
.the-brands {
  .no-gutters {
    .col-sm-3, .col-sm-5ths {
      border-bottom: 1px solid  lighten($cement, 25%);
      border-right: 1px solid  lighten($cement, 25%);
      &:nth-child(5n) {
        border-right: 0;
      }
    }
  }
}

#instafeed {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  a {
    display: flex;
    position: relative;
    background: white;
    object-fit: cover;
    .photo-container {
      display: flex;
      height: 226px;
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.product-slider-section {
  border-top: 1px solid  lighten($cement, 25%);
  padding:0rem 0rem 6rem;
  .products-header-container {
    text-align: right;
    .products-header {
      font-size: 38px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.35rem;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      span {
        display: block;
        font-weight: normal;
        margin-bottom: 0.5rem;
      }
    }
  }
}
