.page-type-basic, .page-type-blog, .page-type-blog-post {
  #wkndnavhome.navbar-static-top .nav>li>a {
    color: $stone;
  }
  .wknd-splash {
    height: 200px;
  }
}


.wknd-subnav {
  // position: absolute;
  // top: 1.25rem;
  // left: 22.5%;
  margin-bottom: 8rem;
  a {
    padding: 0 30px;
    font-family: 'Gill Sans';
    text-transform: uppercase;
    color: $stone;
    font-size: 1.0675rem;
    // text-decoration: underline;
    font-weight: 500;
    &:first-child {
      padding-left: 0;
    }
  }
}

.header {
  border: 0;
  margin-bottom: 10rem;
  img {
    display:block;
    margin: auto;
    width: 312px;
  }
}

.page-header-container {
  position: relative;
}
.page-header-container.news-header {
  position: relative;
  h1.headline {
    margin-bottom: 0;
    &:before {
      top: 0.4rem;
    }
  }
}

h1.headline {
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 3.5rem;
  text-transform: uppercase;
  // letter-spacing: 1rem;
  letter-spacing: 0.5rem;
  margin: 0 0 8rem;
  position: relative;
  &:before {
    border-top: 2rem solid lighten(#dfdfdf, 5%);
    content:"";
    margin: 0;
    position: absolute;
    top: 0.85rem; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
  }
  span {
    // font-size: 38px;
    font-weight: 300;
    // position: absolute;
    // top: -3rem;
    letter-spacing: 0.5rem;
  }
}

.team-leaders {
  margin-bottom: 5rem;
  h1 {
    letter-spacing: 0.10rem;
    margin-bottom: 4rem;
  }
  h2 {
    margin-top: 0.75rem;
  }
}
.stock-quote {
  padding: 4rem 0 6rem;
  color: #fff;
  text-align: center;
  position: relative;
  &:after {
    content: '';
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,0.2);
    position: absolute;
  }
  .stock-quote-contents {
    position: relative;
    z-index: 3;
  }
  h4.stock-header {
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
  }
  h1.exchange-header {
    letter-spacing: 0.125rem;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-top: 0;
  }
  .stock-ticker {
    text-align: center;
    .col-sm-2 {
      border-right: 1px solid white;
      &:last-child {
        border-right: none;
      }
    }
    h3 {
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    h1 {
      letter-spacing: 0.0675rem;
      font-size: 48px;
    }
  }
}
.stock-copy {
  background: #92c07e;
  padding: 1rem 0;
  color: #fff;
  p {
    font-size: 1.5rem;
  }
  margin-bottom: 6rem;
}

.investors {
  h1 {
    letter-spacing: 0.10rem;
  }
  h1, h3 {
    margin-bottom: 2rem;
  }
  padding-bottom: 5rem;
  p {
    font-size: 1.1925rem;
    margin-bottom: 2rem;
  }
}

.news, .press {
  h2 {
    margin-bottom: 0.75rem;
  }
  hr {
    border-top: 1px solid $cement;
    width: 100%;
    margin-top: 0;
  }
  p {
    font-size: 1.1925rem;
    &.excerpt {
      margin-bottom: 1.5rem;
    }
  }
  .col-sm-5 {
    margin-bottom: 3rem;
  }
  .read-more {
    margin-top:2rem;
    margin-bottom: 4rem;
    display: block;
    margin-left: auto;
  }
  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom: 2rem; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
.media-single {
  margin-bottom: 4rem;
}
.single-post {
  margin-bottom: 6rem;
  h1 {
    margin-bottom: 1rem;
  }
}

.brand-section {
  padding: 4rem 0;
  font-size: 1.125rem;
  p,li {
    // font-family: 'Gill Sans';
  }
  h1 {
    margin-bottom: 1.75rem;
  }
}

#button {
  display: inline-block;
  background-color: $greenchalk;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 2.75rem;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: $bluesky;
}
#button:active {
  background-color: $powerblue;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.product-single {
  align-items: center;
  margin-top: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid $cement;
  // font-family: 'Gill Sans';
  &:last-child {
    border-bottom: 0;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  p, li {
    font-size: 1.325rem;
    margin-bottom: 2rem;
  }
}

.wknd-page-splash {
  position: relative;
  text-align: center;
  margin-bottom: 12rem;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.05);
  }
  .wknd-slide {
    height: 100vh;
    width: 100%;
  }
  .wknd-logo-small {
    position: absolute;
    top: 2.25rem;
    right: 7rem;
    z-index: 10;
    img {
      width: 140px;
    }
  }
}
