

@media (max-width: 575.98px) { }
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .wknd-splash {
    height: 50vh;
  }
  .wknd-splash .wknd-slide {
    height: 50vh;
  }
  .product-slider-section .products-header-container .products-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
  }
  .product-slider-section .products-header-container {
    text-align: center;
  }
  #wkndnav {
    .nav {
      li {
        a {
          letter-spacing: 0.2em;
        }
      }
    }
  }
  .container-fluid.p-0:not(.product-slider-section) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    display: block;
  }
  .wknd-splash {
    .tagline {
      font-size: 1.25rem;
    }
    .wknd-logo-small {
      top: 1rem;
      right: 1rem;
      img {
        width: 80px
      }
    }
    .wknd-logo-container {
      .tagline {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
      }
      img {
        max-width: 240px;
      }
    }
    .social-media-icons {
      bottom: 3rem;
      right: 1rem;
      .fa-stack {
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
      }
    }
    .stock-symbol {
      font-size: 1.5rem;
      bottom: 1rem;
      right: 1rem;
      letter-spacing: 0.2rem;
    }
  }
  .after-the-fold {
    padding: 3rem 15px;
    .callout-text {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .callout-subtext {
      font-size: 1.5rem;
    }
  }
  .px-0 {
    padding: 0;
  }
  .brands-container {
    border-top: 0;
    .brands-header-container {
      text-align:center;
      height: auto;
      background: #fff !important;
      .brands-header {
        position: relative;
        top: initial;
        left: initial;
        transform: none;
        font-size:1.5rem;
        span {
          display: inline-block;
        }
      }
    }
    .the-brands {
      .no-gutters {
        .col-sm-3, .col-sm-5ths {
          border: 0;
        }
      }
    }
  }
  .brand-section {
    padding: 4rem 1rem;
    h1 {
      font-size: 30px;
    }
  }
  .brand-photos {
    .col-sm-3, .col-sm-4, .col-sm-6 {
      padding: 0;
    }
  }
  .wknd-splash-variant {
    padding: 3rem 1rem;
    .callout-text {
      font-size: 1.5rem;
      line-height: 1.4;
      span:before {
        top: initial;
        left: initial;
      }
    }
    .callout-subtext {
      font-size: 1.125rem;
    }
    .learn-more {
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }
  }
  .follow-wknd {
    .follow-text {
      font-size: 1.25rem;
      line-height: 1.4;
    }
    .callout-text {
      font-size: 1.5rem;
    }
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    margin-bottom: 4rem;
    img {
      width: 200px;
    }
  }
  h1.headline {
    font-size: 2.5rem;
    &:before {
      border-top: 1rem solid #ececec;
      top: 0.5rem;
    }
    span {
      font-size: 24px;
      top: -2rem;
    }
  }
  .wknd-subnav {
    top: 3rem;
    left: initial;
    a {
      font-size: 1rem;
    }
  }
  .pagination-container {
    margin-top: 0;
    padding: 2rem 1rem;
    .pagination {
      li {
        a {
          font-size: 1rem;
          padding: 6px 10px;
        }
      }
    }
  }
  .news, .press {
    h2 {
      font-size:24px;
    }
    p {
      font-size: 1rem;
    }
    .embed-container {
      margin-bottom: 1rem;
    }
    .read-more {
      margin-bottom: 2rem;
    }
    .col-sm-3 {
      img {
        margin-bottom: 1rem;
        width: 50%;
      }
    }
  }
  .team-leaders {
    margin-bottom: 3rem;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      h2.text-uppercase {
        font-size: 1rem;
      }
    }
  }
  .stock-quote {
    h1.exchange-header {
      font-size: 1.25rem;
    }
    .stock-ticker {
      .col-xs-6 {
        border: 0;
        margin-bottom: 1rem;
      }
      .col-xs-6, .col-xs-12 {
        h3 {
          margin-bottom: 1rem;
          font-size: 18px;
        }
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  .stock-copy {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    p {
      font-size: 1.125rem;
    }
  }
  .investors {
    padding-bottom: 2rem;
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
  footer {
    .top {
      padding-top:3rem;
      padding-bottom: 1rem;
      .footer-column.wknd-logo {
        text-align: center;
        img {
          width: 160px;
          margin: 0 auto 1rem auto;
        }
      }
      .footer-column {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1rem;
        .footer-menu-header {
          margin-bottom: 1rem;
        }
      }
    }
    .bottom {
      padding: 1rem;
      .stock-symbol {
        text-align: center;
        font-size: 1.125rem;
      }
      .copy {
        font-size: 0.625rem;
      }
      .col-sm-12.text-right {
        text-align: center !important;
        .list-inline.list-unstyled {
          margin-top: 1rem;
        }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { }
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .wknd-splash {
    height: 50vh;
  }
  .wknd-splash .wknd-slide {
    height: 50vh;
  }
  .product-slider-section .products-header-container .products-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 1rem;
  }
  .product-slider-section .products-header-container {
    text-align: center;
  }
  #wkndnav {
    .nav {
      li {
        a {
          letter-spacing: 0.2em;
        }
      }
    }
  }
  .container-fluid.p-0:not(.product-slider-section) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    display: block;
  }
  .wknd-splash {
    .tagline {
      font-size: 1rem;
      letter-spacing: 0.25rem;
    }
    .wknd-logo-small {
      top: 1rem;
      right: 1rem;
      img {
        width: 80px
      }
    }
    .wknd-logo-container {
      .tagline {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
      }
      img {
        max-width: 240px;
      }
    }
    .social-media-icons {
      bottom: 3rem;
      right: 1rem;
      .fa-stack {
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
      }
    }
    .stock-symbol {
      font-size: 1.5rem;
      bottom: 1rem;
      right: 1rem;
      letter-spacing: 0.2rem;
    }
  }
  .after-the-fold {
    padding: 3rem 15px;
    .callout-text {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .callout-subtext {
      font-size: 1.5rem;
    }
  }
  .px-0 {
    padding: 0;
  }
  .brands-container {
    border-top: 0;
    .brands-header-container {
      text-align:center;
      height: auto;
      background: #fff !important;
      .brands-header {
        position: relative;
        top: initial;
        left: initial;
        transform: none;
        font-size:1.5rem;
        span {
          display: inline-block;
        }
      }
    }
    .the-brands {
      .no-gutters {
        .col-sm-3, .col-sm-5ths {
          border: 0;
        }
      }
    }
  }
  .brand-section {
    padding: 4rem 1rem;
    h1 {
      font-size: 30px;
    }
  }
  .brand-photos {
    .col-sm-3, .col-sm-4, .col-sm-6 {
      padding: 0;
    }
  }
  .wknd-splash-variant {
    padding: 3rem 1rem;
    .callout-text {
      font-size: 1.5rem;
      line-height: 1.4;
      span:before {
        top: initial;
        left: initial;
      }
    }
    .callout-subtext {
      font-size: 1.125rem;
    }
    .learn-more {
      font-size: 1rem;
      letter-spacing: 0.2rem;
    }
  }
  .follow-wknd {
    .follow-text {
      font-size: 1.25rem;
      line-height: 1.4;
    }
    .callout-text {
      font-size: 1.5rem;
    }
    padding-left: 15px;
    padding-right: 15px;
  }
  .header {
    margin-bottom: 4rem;
    img {
      width: 200px;
    }
  }
  h1.headline {
    font-size: 2.5rem;
    &:before {
      border-top: 1rem solid #ececec;
      top: 0.5rem;
    }
    span {
      font-size: 24px;
      top: -2rem;
    }
  }
  .wknd-subnav {
    top: 3rem;
    left: initial;
    a {
      font-size: 1rem;
    }
  }
  .pagination-container {
    margin-top: 0;
    padding: 2rem 1rem;
    .pagination {
      li {
        a {
          font-size: 1rem;
          padding: 6px 10px;
        }
      }
    }
  }
  .news, .press {
    h2 {
      font-size:24px;
    }
    p {
      font-size: 1rem;
    }
    .embed-container {
      margin-bottom: 1rem;
    }
    .read-more {
      margin-bottom: 2rem;
    }
    .col-sm-3 {
      img {
        margin-bottom: 1rem;
        width: 50%;
      }
    }
  }
  .team-leaders {
    margin-bottom: 3rem;
    h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      h2.text-uppercase {
        font-size: 1rem;
      }
    }
  }
  .stock-quote {
    h1.exchange-header {
      font-size: 1.25rem;
    }
    .stock-ticker {
      .col-xs-6 {
        border: 0;
        margin-bottom: 1rem;
      }
      .col-xs-6, .col-xs-12 {
        h3 {
          margin-bottom: 1rem;
          font-size: 18px;
        }
        h1 {
          font-size: 30px;
        }
      }
    }
  }
  .stock-copy {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    p {
      font-size: 1.125rem;
    }
  }
  .investors {
    padding-bottom: 2rem;
    h1 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }
  footer {
    .top {
      padding-top:3rem;
      padding-bottom: 1rem;
      .footer-column.wknd-logo {
        text-align: center;
        img {
          width: 160px;
          margin: 0 auto 1rem auto;
        }
      }
      .footer-column {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1rem;
        .footer-menu-header {
          margin-bottom: 1rem;
        }
      }
    }
    .bottom {
      padding: 1rem;
      .stock-symbol {
        text-align: center;
        font-size: 1.125rem;
      }
      .copy {
        font-size: 0.625rem;
      }
      .col-sm-12.text-right {
        text-align: center !important;
        .list-inline.list-unstyled {
          margin-top: 1rem;
        }
      }
    }
  }
}


@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
  #wkndnav, #wkndnavhome {
    .nav {
      li {
        a {
          padding-left: 15px;
          padding-right: 15px;
          letter-spacing: 0.1em;
        }
      }
    }
  }
  #wkndnavhome.navbar-static-top {
    z-index: 10;
    position: absolute;
    top: 2rem;

  }
  .wknd-splash {
    .tagline {
      font-size: 2rem;
    }
    .wknd-logo-small {
      img {
        width: 100px;
      }
    }
    .wknd-logo-container {
      .tagline {
        font-size: 24px;
        letter-spacing: 0.5rem;
        margin-bottom: 4rem;
      }
      img {
        width: 360px;
      }
    }
  }
  .header {
    margin-bottom: 8rem;
    img {
      width: 260px;
    }
  }
  h1.headline {
    font-size: 4rem;
  }
  .wknd-subnav {
    left: 35%;
    a {
      padding: 0 20px;
    }
  }
  .callout-text {
    font-size: 3.5rem;
  }
  .callout-subtext {
    font-size: 1.5rem;
  }
  .wknd-splash-variant {
    .callout-subtext {
      font-size: 1.5rem;
    }
    .learn-more {
      font-size: 1rem;
    }
  }
  .follow-wknd {
    .follow-text {
      font-size: 2rem;
    }
  }
  .stock-copy {
    p {
      font-size: 1.25rem;
    }
  }
  .news.container-fluid.p-0 {
    padding-right: 1rem;
  }
  .news {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 1rem;
    }
  }
  .team-leaders {
    h2 {
      font-size: 24px;
    }
    .lead {
      font-size: 18px;
    }
  }
  .stock-quote {
    h1.exchange-header {
      font-size: 2rem;
    }
    h4.stock-header {
      padding-bottom: 0.5rem;
    }
    .stock-ticker {
      h1 {
        font-size: 36px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }
  .investors h1, .team-leaders h1 {
    font-size: 30px;
  }
  .investors {
    h3 {
      font-size: 20px;
      margin-bottom: 1.5rem;
    }
  }
  footer {
    .top {
      .footer-column {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        &.wknd-logo {
          img {
            width: 200px;
          }
        }
        .footer-menu-header {
          margin-bottom: 1rem;
        }
      }
    }
    .bottom {
      padding: 1rem 0;
      p {
        font-size: 1rem;
      }
      .stock-symbol {
        font-size: 1rem;
      }
    }
  }
}

@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .wknd-splash {
    height: 50vh;
  }
  .wknd-splash .wknd-slide {
    height: 50vh;
  }
  .product-slider-section .products-header-container .products-header {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding-bottom: 1rem;
    margin-right: 1rem;
  }
  .product-slider-section .products-header-container {
    text-align: center;
  }
  #wkndnavhome.navbar-static-top {
    display: none;
  }
  #wkndnavhome .nav>li>a {
    padding: 10px 10px 8px;
  }
  #wkndnav {
    margin-bottom: 1rem;
    .nav {
      li {
        a {
          padding: 10px 15px 8px;
          font-size: 0.9rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }
  .wknd-splash {
    .tagline {
      font-size: 1.5rem;
    }
  }
  .header {
    margin-bottom: 4rem;
    img {
      width: 200px;
    }
  }
  h1.headline {
    font-size: 3.5rem;
    letter-spacing: 0.75rem;
    &:before {
      border-top: 1.5rem solid #ececec;
      top: 0.5rem;
    }
  }
  .wknd-subnav {
    top: 0.7rem;
    left: 40%;
    a {
      padding: 0 15px;
    }
  }
  .callout-text {
    font-size: 2.5rem;
  }
  .callout-subtext {
    font-size: 1.5rem;
  }
  .after-the-fold {
    padding: 4rem 0;
  }
  .brands-container {
    .brands-header-container {
      .brands-header {
        font-size: 24px;
      }
    }
  }
  .brandImage {
    height: 265px;
  }
  .wknd-splash-variant {
    padding: 4rem;
    .learn-more {
      font-size: 1rem;
    }
  }
  .follow-wknd {
    padding: 4rem 0;
    .follow-text {
      font-size: 1.5rem;
    }
  }
  .team-leaders {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
    .lead {
      font-size: 16px;
    }
  }
  .stock-quote {
    h1.exchange-header {
      font-size: 2rem;
    }
    h4.stock-header {
      padding-bottom: 0.5rem;
    }
    .stock-ticker {
      .col-md-2 {
        border-right: 0;
        &.col-xs-6 {
          margin-bottom: 1rem;
        }
      }
      h1 {
        font-size: 36px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 1rem;
      }
    }
  }
  .stock-copy {
    padding: 1rem;
    p {
      font-size: 1.25rem;
    }
  }
  .investors {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 1rem;
    }
  }

  .news.container-fluid.p-0, .investors.container-fluid.p-0 {
    padding-right: 1rem;
  }
  .news {
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 1rem;
    }
  }
  .contact {
    h1 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
    }
    .lead {
      font-size: 18px;
    }
  }
  .pagination-container {
    margin-top: 2rem;
    padding: 2rem 0;
    .pagination {
      li {
        a {
          font-size: 1.125rem;
        }
      }
    }
  }
  footer {
    .top {
      padding-bottom: 2rem;
      .footer-column {
        margin-bottom: 1rem;
        &.wknd-logo {
          img {
            width: 200px;
          }
        }
        .footer-menu-header {
          margin-bottom: 1rem;
        }
      }
    }
    .bottom {
      padding: 1rem 0;
      .col-sm-12.text-right, .col-md-4 {
        text-align: center !important;
      }
      .list-inline.list-unstyled {
        margin-top: 0.5rem;
      }
    }
  }
}

@media only screen
and (min-width : 1200px)
and (max-width : 1335.98px) {
  #wkndnavhome .nav>li>a {
    padding: 10px 20px 8px;
  }
  footer .top .footer-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 949px) and (max-width: 1199px) {
  #wkndnavhome .nav>li>a {
      padding: 10px 10px 8px;
      letter-spacing: 0.125rem;
  }
  footer .top .footer-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  footer .top .footer-column .footer-menu-header {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  footer .top .footer-column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 1440px) {
  footer .bottom .stock-symbol {
      font-size: 1rem;
  }
}

@media only screen
  and (min-width : 414px)
  and (max-width : 896px)
  and (-webkit-device-pixel-ratio : 3) {
  .wknd-splash {
    height: 50vh;
    .wknd-slide  {
      height: 50vh;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  h1.headline {
    font-size: 4rem;
  }
  .header img {
    width: 260px;
  }
}

@media only screen and (min-width : 414px) and (max-width : 896px) and (-webkit-device-pixel-ratio : 3) {
  .wknd-splash {
    height: 50vh;
  }
  .wknd-splash .wknd-slide {
    height: 50vh;
  }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .product-slider-section .products-header-container .products-header {
    font-size: 24px;
    text-align: center;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
  .product-slider-section .products-header-container .products-header {
    letter-spacing: 0.35rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    transform: none;
    position: relative;
    left: initial;
    top: initial;
  }
}

@media (max-width: 767.98px) {
  .page-type-basic, .page-type-blog, .page-type-blog-post {
    .wknd-splash {
      height: 100px;
    }
  }
}
