<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/e404551e3e.js"></script>

    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="theme.scss" rel="stylesheet">
    <link href="jquery.fullpage.css" rel="stylesheet">
    <link href="font_brandon.css" rel="stylesheet">
    <link href="weekendunlimited.scss" rel="stylesheet">

    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="{{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">
    <div id="wrapper">
      
      {{ content_for_notifications }}

    {% if page.slug == 'landing_page' %}
     
      {% include 'nav' %}

    {% elsif page.is_homepage? == false %}

      {% include 'static_nav' %}

    {% endif %}

  
      {% if request.is_sidebar? %}
      {% include "columns_1" %}
      {% else %}
      {% include "columns_1" %}
      {% endif %}

    

    <footer>
        {{ content_for_footer }}
        {% include 'footer_content' %}
    </footer>


      
    </div>


    <script src="bootstrap.js"></script>
    <script src="jquery.fullpage.js"></script>
    <script src="scrolloverflow.js"></script>
    <script src="fullpage.js"></script>

    {% if page.slug == 'landing_page' %}
    <script src="site.js"></script>
    {% endif %}
    

  </body>
</html>

