
$brand-colour: #00CE7C;

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

html {
	font-size: 100%;
}

#fp-nav ul, .fp-slidesNav ul {
  text-align: center;
}

body {
	font-family: 'Brandon Grotesque';
	font-weight: 300;
 	position: relative;
	background: none;
}

.page-under-construction {
  background-color: #222;
  position: relative;
  .under-maintenance-message {
    max-width: 100%;
    width: 600px;
    display: block;
    margin: 80px auto 0;
    img {
      width: 400px;
      display: block;
      margin: 0 auto;
    }
    h1 {
      color: #00CE7C;
      font-weight: bold;
    }
    p {
      color: #fff;
      font-size: 1.25rem;
    }
  }
}

#wrapper {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

.alert {
  margin-bottom: 0;
}

@import "weekend_navbar";
@import "slider_controls";
@import "sections";
@import "newsletter";
@import "footers";
@import "weekend_pagination";

.symbol {
  color: $brand-colour;
}

.basic-page-header {
  width: 435px;
  position: absolute;
  top: 0rem;
  left: -4rem;
  img {
    width: 100%;
    position: relative;
    z-index: 1;    
  }
  h1, h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
    font-weight: bold;    
  }
}
.basic-page-section {
  padding-top: 12rem;
  .media-content {
    min-height: 600px;
    margin-bottom: 20px;
  }
  .list-group, .list-group-item {
      padding-left: 0;
      padding-right: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      font-size: 1.25rem;
      span {
          float: right;
      }
  }
  .list-group {
      margin-bottom: 0;
  }
  .list-group .list-group-item:first-child {
      border-top: 0;
  }
  .list-group .list-group-item:last-child {
      border-bottom: 0;
  }  
}

.sp-content h2 {
  margin-bottom: 30px;
}

.facility-image {
  min-height: 509px;
}

.facilities-header {
  position: absolute;
  left: 4rem;
  top: 2rem;
  color: #fff;  
}

.property-highlights, .more-property-highlights {
  padding: 3rem;
  margin-bottom: 3.5rem;
  p { margin-bottom: .5rem; font-size: 1rem; }
  h4 {
    color: $brand-colour;
    margin-top: 0;
  }
}

.blob-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 3;
  width: 435px;
  text-align: center;
  img {width: 100%;}
  h2 {
    text-transform: uppercase;
    color: #333;
    font-size: 40px;
    &.blob-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);     
    }
  }
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: transparent;
}

.list-inline > li {
  padding: 0 !important;
}

.subnavigation {
  margin: 0 auto 3.5rem;
  display: block;
  text-align:center;
  li {
    text-align: center;
    padding: 0 1.75rem !important;
    font-size: 1.25rem;
    &.active {
      font-weight: bold;
      a { color: $brand-colour; }
    }
    a {color: initial; text-decoration: none;}
  }
}



.date {
  color: #aaa;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;

}
.title {
  color: $brand-colour;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: rgba(0,0,0,0.35);
}
.brand-image {
  background-size: cover; 
  background-position: bottom; 
  height: 300px; 
  width: 100%; 
  margin-bottom: 3.5rem;
}

.blog-post {
  margin-top: 200px;
  h1 {
    margin-bottom: .5rem;
  }
  ul li {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 300 !important;
  }
}

.responsive-object iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0 1.5rem;
  overflow: hidden;
}

.strip {
    position: relative;
    display: block;
}
.strip .overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms ease-out;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    background-color: rgba(#000, 0.65); 

    span {
        display: block;
        position: relative;
        top: 50%;
        font-weight: bold;
        transform: translateY(-50%);
        font-size: 1.5rem;
        letter-spacing: 2px;
        color: #fff !important;
    }
}

.strip:hover .overlay {
    display: block;
    opacity: 1;
}

.tagline {
    position: absolute;
    max-width: 500px;
    width: 100%;
    left: 50%;
    bottom: 5rem;
    transform: translateX(-50%);  
}

.float{
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    background-color: transparent;
    z-index: 10;
    color: #fff;
    padding: 1rem;
    font-size: 1.25rem;
    border: 2px solid #fff;
}

.get-notified-container {
  position: relative; top:50%; transform:translateY(-50%);
  .col-sm-8 {
    padding-left: 0;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.no-padding {
  padding: 0;
}

.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

#aboutUs {
  .content-container {
    min-height: 30rem;
    width: 100%;
    padding: 6rem;
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      font-size: 1.125rem;
      width: calc(100% - 12rem);      
    }
  }
  .content-image {
    min-height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@import "mobile";



